@page
@model VidéoThèque.Pages.CheckCommandeModel
@{
    ViewData["Title"] = "Commandes en cours";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Détails</h1>

<form>
    <p>
        Par Location:
        <select asp-for="EtatCommande">
            <option value="">Tous</option>
            <option value="EnCours">En cours de location</option>
            <option value="Finis">Anciennes locations</option>
        </select>
        Par Film:
        <select asp-for="MovieTitre" asp-items="Model.Films">
            <option value="">Tous</option>
        </select>
        Par Utilisateur: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filtrer" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommandeList[0].ID)
            </th>
            <th>
                Utilisateur
            </th>
            <th>
                Titre du film
            </th>
            <th>
                Durée de la location
            </th>
            <th>
                Date de Location
            </th>
            <th>
                Date de Retour
            </th>
            <th>
               Prix (en €)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CommandeList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleMovie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dureeLocation) jour(s)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price) €
            </td>
        </tr>
        }

    </tbody>
 </table>
