@page
@model VidéoThèque.Pages.DetailCommandeModel
@{
    ViewData["Title"] = "DetailCommande";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Detail de la Commande</h1>


<div>
    <h4> Facture </h4>
    <hr />

    <h1>
        N° de Commande : @Html.DisplayFor(model => model.Commande.ID)
    </h1>

    <br />
    <h5>
        <b>Identifiant de l'utilisateur : </b> @Html.DisplayFor(model => model.Commande.IDuser)
    </h5>
    <br />

    <h5>
        <b>Référence du film : </b> @Html.DisplayFor(model => model.Commande.IDmovie)
    </h5>
    <br />

    <h5>
        <b>Titre du film : </b> @Html.DisplayFor(model => model.Commande.TitleMovie)
    </h5>
    <br />

    <h5>
        <b>Prix : </b> @Html.DisplayFor(model => model.Commande.prixDuFilm) €
    </h5>
    <br />

    <h5>
        <b>Durée de la location : </b> @Html.DisplayFor(model => model.Commande.dureeLocation) jour(s)
    </h5>
    <br />

    <h5>
        <b>Date de location : </b> @Html.DisplayFor(model => model.Commande.dateLocation)
    </h5>
    <br />

    <h5>
        <b>Date de retour : </b> @Html.DisplayFor(model => model.Commande.dateRetour)
    </h5>
    <br />
    <input type="button" class="btn btn-primary" value="Editer la facture" onclick="window.print();return false;" />

</div>
