@page
@model VidéoThèque.Pages.Movies.CommandeModel

@{
    ViewData["Title"] = "Détail Commande";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>

    <h1>Détails de la commande</h1>

    <div>
        <h4>Récapitulatif </h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Image)
            </dt>
            <dd class="col-sm-10">
                <img src="@Url.Content("~/img/"+Model.Movie.Image+".PNG")" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Realisateur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Realisateur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Acteurs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Acteurs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Synopsis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Synopsis)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Price)
            </dd>

        </dl>
    </div>


    <div class="col-md-10">
        <form method="post">
            <!--Input hidden pour l'insertion des différentes valeurs dans la table Commande-->
            <input type="hidden" asp-for="Commande.IDmovie" value="@Model.Movie.ID" />
            <input type="hidden" asp-for="Commande.TitleMovie" value="@Model.Movie.Title" />
            <input type="hidden" asp-for="Commande.dateLocation" value="@DateTime.Now" />
            <input type="hidden" asp-for="Commande.dateRetour" value="@DateTime.Now" />
            <input type="hidden" asp-for="Commande.price" value="@Model.Movie.Price" />
            <input type="hidden" asp-for="Commande.IDuser" value="@User.Identity.Name" />



            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Commande.dureeLocation, new List<SelectListItem>
                        {
                            new SelectListItem {Text = "24h soit "+@Model.Movie.Price +"€", Value = "1", Selected = true },
                            new SelectListItem {Text = "48h soit "+ @Decimal.Add(@Model.Movie.Price, 1.0m) +" €", Value = "2" },
                            new SelectListItem {Text = "72h soit "+ @Decimal.Add(@Model.Movie.Price, 2.0m) +" €", Value = "3" },
                        }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Movie.Price, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Accepter la commande" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <!-- Gérer localement le changement de prix genre si SelectListItem change de valeur baaah on fait X2 u X3-->

</body>
</html>

<div>
    <a asp-page="../MovieDisplay" asp-route-id="@Model.Movie.ID">Retourner au choix des films</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}