@page
@model VidéoThèque.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Détails du film";
}

<h1>Détails</h1>

<div>
    <h4>Du film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/img/"+Model.Movie.Image+".PNG")" height="250px" width="200px"
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Realisateur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Realisateur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Acteurs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Acteurs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Synopsis)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="../MovieDisplay">Retourner au choix des films</a>
    <button> Louer ce film </button>
</div>
