@page
@model VidéoThèque.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index des films";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Ajouter un film</a>
</p>
<form>
    <p>
        Par type: <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">Tous</option>
        </select>
        Titre recherché: <input type="text" asp-for="SearchString" />

        Top :
        <select asp-for="NFilm">
            <option value="">Tous</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
        </select>
        <input type="submit" value="Filtrer" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <!-- Affichage des différents champs qui seront affichés (les titre en gros) -->
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SearchDate">
                    @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Price) (en €)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Realisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Acteurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Synopsis)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SearchLocation">
                    @Html.DisplayNameFor(model => model.Movie[0].NbLocation)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!-- Pour chaque items dans la liste de film on affiche leur titre, date, genre et le prix -->
        @foreach (var item in Model.Movie)
        {
        <tr>
            <td>
                <img src="@Url.Content("~/img/"+item.Image+".PNG")" height="250px" width="200px" alt="Image" />
                <!--Mettre à jour ici pour utiliser les noms présent dans la BDD-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acteurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbLocation)
            </td>
            <td>
                <!-- Les routes -->
                <a asp-page="./Edit" asp-route-id="@item.ID">Éditer</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Voir les détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
